<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Signup</title>
    <link rel="stylesheet" th:href="@{/css/editClientForm.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <img th:src="@{/images/WhatsApp Image 2024-11-13 at 14.21.26_529a38e9.jpg}" class="logo" alt="Freelancehub Logo">
            <h1 class="navbar-title">Freelancehub</h1>
        </div>
    </header>
    <div class="form-container">
		<h1>Edit Client Details</h1>
        <form th:action="@{/client/edit}" method="post" th:object="${client}">
            <div class="email"><p>Email</p><span><input type="email" th:field="*{compEmail}" placeholder="E-mail *" required></span></div>
            <div class="companyname"><p>Company name</p><span><input type="text" th:field="*{companyName}" placeholder="Company Name *" required></span></div>
            <div class="projects"><p>Type of project</p><span><input type="text" th:field="*{typeOfProject}" placeholder="Types of projects involved *" required></span></div>
            <div class="desc"><p>Company Description</p><span><textarea th:field="*{companyDescription}" placeholder="Company Description *" required></textarea></span></div>
            <div class="repname"><p>Representative Name</p><span><input type="text" th:field="*{repName}" placeholder="Representative Name *" required></span></div>
            <div class="desig"><p>Representative Designation</p><span><input type="text" th:field="*{repDesignation}" placeholder="Representative Designation *" required></span></div>
            <div class="password"><p>Password</p><span><input type="password" th:field="*{password}" placeholder="Password *" required></span></div>
            <div class="retype"><p>Re-type password</p><span><input type="password" placeholder="Re-type password *" required></span></div>
            
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
